<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>아이디 : <span><%= userInfo.id %></span></div>
    <div>비밀번호 : <span><%= userInfo.password %></span></div>
    <div>이름 : <span><%= userInfo.name %><span>
    <div>나이 : <span><%= userInfo.age %></span>입니다</div>
    <img src="<%= userfile %>" width="300px" />
    <br />
    <br />
    <a href="/">홈으로 이동</a>
    
</body>
</html>